<div class="container">
  <div class="row">
    <div class="col s4 mt maxheight" *ngFor="let element of movieList">
      <div class="card z-depth-3">
        <div class="card-image waves-effect waves-block waves-light">
          <img class="activator" src="{{element.poster_path}}">
        </div>
        <div class="card-content">
          <span class="activator grey-text text-darken-4 truncate">{{element.title}}<i class="material-icons right">more_vert</i></span>
        </div>
        <div class="card-reveal">
          <span class="card-title grey-text text-darken-4 truncate">{{element.title}}<i class="material-icons right">close</i></span>
          <p>{{element.overview}}</p>
          <button class="waves-effect waves-light btn purple darken-4" (click)="myModal.open()">View More</button>
        </div>
      </div>
    </div>

    <ngx-smart-modal #myModal identifier="myModal">
      <h1>Hello!</h1>
      <p>It's not perfect, but i did my best, i really want this job, thank you for your time!</p>
      <button class="waves-effect waves-light btn purple darken-4" (click)="myModal.close()">Close</button>
    </ngx-smart-modal>
  </div>
</div>